<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo-Valdez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>423603D41DF4383A001A6900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423603EB1DF4383B001A6900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>423603F61DF4383B001A6900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
